/* Estilo principal para el <header> */
header {
    background-color: #faebd7; /* Color de fondo de tono crema */
    padding: 20px; /* Espacio interno de 20px alrededor del contenido del <header> */
    text-align: center; /* Centrar el contenido dentro del <header> */
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidad */
    margin: 5px; /* Margen de 5px alrededor del <header> para separarlo de otros elementos */
}

/* Estilo para el <nav> dentro del <header> */
nav {
    text-align: center; /* Alinear todos los elementos hijos dentro del <nav> en el centro */
    display: block; /* Asegurar que el contenedor de <nav> ocupe todo el ancho disponible */
}

/* Estilo general para los enlaces <a> dentro del <nav> */
a {
    padding: 15px 30px; /* Relleno interno de 15px en vertical y 30px en horizontal */
    font-size: 16px; /* Tamaño de fuente de 16px */
    border-radius: 5px; /* Bordes redondeados de 5px */
    border: none; /* Quitar cualquier borde por defecto */
    cursor: pointer; /* Cambiar el cursor a puntero cuando el usuario pase sobre el enlace */
    color: white; /* Color del texto blanco */
    background-color: #f08080; /* Fondo de color rojo claro (Light Coral) */
    text-decoration: none; /* Quitar subrayado del texto */
    display: inline-block; /* Permitir comportamiento similar a un bloque, pero que permanezca en la misma línea */
    margin: 0 20px; /* Añadir espacio de 20px a los lados (izquierda y derecha) entre los elementos */
}

/* Cambiar el fondo del segundo elemento hijo de <nav> (el logo) */
nav > :nth-child(2) {
    background-color: #faebd7; /* Fondo del logo igual al del header para combinarlo visualmente */
}

/* Ajustes específicos para el logo dentro del <nav> */
#ongLogo {
    display: inline-block; /* Asegurar que el logo esté en la misma línea que los enlaces */
    vertical-align: middle; /* Alinear verticalmente el logo con los enlaces */
}

/* Estilo específico para la imagen dentro del contenedor del logo */
#ongLogo > img {
    height: 50px; /* Altura de la imagen del logo */
    width: 50px; /* Ancho de la imagen del logo */
    vertical-align: middle; /* Alinear verticalmente la imagen con el resto de los elementos */
}